<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timed Quizes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/general.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-transparent" style="visibility:hidden" id="nav">
        <a class="navbar-brand" href="./highscores.html" > Scores</a>
    </nav>


    <div class="container-fluid mainContainer w-100 h-100" >



        <div class="jumbotron text-center w-100 h-100 p-0 mb-5 theJumbo textMe">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="lead text-right textMe" id="remaining">Time Remaining: <span id="time-remaining">75</span>
                        </h1>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h1 class="bold text-right textMe" id="timesUp" style="display: none;">Time's Up!</h1>
                    </div>
                </div>



                <!-- TITLE -->
                <div class="row" id="lose-hide">
                    <div class="col-12">
                        <h1 class="display-4 textMe">Timed Quizes </h1>
                        <div id="lose" style="display: none;">

                            <h1 style="color: red;"> WRONG </h1>
                            <img id="wrong" src="../images/boo.jpg" style=" padding: 5px;" alt="BOO">

                        </div>
                        <div id="total" style="display: none;">
                            <h1 class="display4 " id="goSee" style="display: none;"><a href="./highscores.html " >Go see your Score!</a></h1>
                            <div class="input-group textMe mb-5 pb-3 w-50 m-auto">
                                <input id='userInput' type="text" class="form-control textMe" placeholder=" Username"
                                    aria-label=" username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary textMe" type="button"
                                        id="button-addon2"><a href="./highscores.html " ></a> Post</button>
                                </div>
                            </div>
                        </div>


                        <div class="card mb-4 col-12 p-0 " id='cardDisplay'>


                            <div class="w-100 card-header text-capitalize textMe">
                                Question <span id="question-title"></span>
                            </div>
                            <div class="card-body text-center text-capitalize textMe">
                                <h5 class="card-title"><span id="card-question"></span></h5>


                                <div class="col-sm-12   text-center " id="question-display">

                                    <div id="checkMe">
                                        <div class="form-check">
                                            <input class="form-check-input radd " type="radio" name="exampleRadios"
                                                id="Radio0" value="0" onclick="checkValue(value)" checked>
                                            <label class="form-check-label text-capitalize " for="Radio1">
                                                <span id="q0"></span>
                                            </label>
                                        </div>
                                        <div class="form-check ">
                                            <input class="form-check-input radd " type="radio" name="exampleRadios"
                                                id="Radio1" value="1" onclick="checkValue(value)">
                                            <label class="form-check-label text-capitalize " for="Radio2">
                                                <span id="q1"></span>
                                            </label>
                                        </div>
                                        <div class="form-check ">
                                            <input class="form-check-input radd " type="radio" name="exampleRadios"
                                                id="Radio2" value="2" onclick="checkValue(value)">
                                            <label class="form-check-label text-capitalize " for="Radio3">
                                                <span id="q2"></span>
                                            </label>
                                        </div>
                                        <div class="form-check ">
                                            <input class="form-check-input radd " type="radio" name="exampleRadios"
                                                id="Radio3" value="3" onclick="checkValue(value)">
                                            <label class="form-check-label text-capitalize " for="Radio4">
                                                <span id="q3"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-primary" id="submit">Submit<i class="em em-crossed_fingers"
                                        aria-role="presentation"
                                        aria-label="HAND WITH INDEX AND MIDDLE FINGERS CROSSED"></i></a>
                            </div>
                        </div>



                    </div>
                </div>


            </div>
            <div><span id="win" style="display: none;">
                    <img id="winning" src="" style=" padding: 5px;" alt="YEY">
                </span></div>
        </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="../js/quiz.js"></script>
</body>

</html>